<!doctype html>
<html ng-app="app">
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script language="javascript" type="text/javascript">
      angular.module('app', []);
      
      //Whatever you put on the controller scope,
      //will be availalble in the HTML element bound to the controller.
      function MyController($scope){
        $scope.newMessage = "Whatever you have in mind!";
        $scope.messages = ["Get X'mas Presents for my Schoolmates", "Be a good son and cook dinner for my parents", "Cloud Solns - Revision 0.1"]; 
        
        $scope.add = function(){
          $scope.messages.push($scope.newMessage);
        };
      }
    </script>
    <title>Your All-In-One Web Application (Must-Do List)</title>
  </header>
  
  <body ng-controller="MyController">
    <h1>Good Day!</h1>
    <h3>It's a 'NO Procrastination' Day, so get started!!</h3>
    <br>
    <b>Must-Do List:</b> 
    <ul>
      <li ng-repeat="message in messages">
        {{message}}
      </li>
      <li>
        <h5><i>{{newMessage}}</i></h5>
      </li>
    </ul>
    
    <br>
    <input type="text" ng-model="newMessage">
    <input type="submit" ng-click="add()" value=">> Must Do">
    <br><br><br>
    <h3>Have fun!</h3>
  </body>
  
</html>
